<mat-toolbar color = "primary">
  <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>
 <span>Student Library</span>
 <span class="example-spacer"></span>
 <button mat-icon-button class="example-icon favorite-icon">
   <mat-icon routerLink="/student-list">supervisor_account</mat-icon>
 </button>
 <button mat-icon-button class="example-icon">
  <mat-icon routerLink="/book-list">book</mat-icon>
</button>
</mat-toolbar>

<router-outlet></router-outlet>